
* {
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #262626;
}

td, th {
	padding: 0;
	text-align: left;
}
h1 {
	display: block;
	text-align: center;
	margin-top: 10px;
	font-size: 25px;
	color: purple;
}
.timeLine {
	display: flex;
	margin: 10px auto 10px;
	width: 350px;

}
.timeLine-chunk {
	width: 100%;
	background-color: #717171;
	height: 2.5px;
	margin-left: 3px;
	border-radius: 2px;
}
.timeLine-chunk-active > .timeLine-chunk-inner,
.timeLine-chunk-active ~ .timeLine-chunk > .timeLine-chunk-inner {
	width: 0;
}
.timeLine-chunk-inner {
	height: inherit;
	background-color: #ffffff;
	border-radius: inherit;
}
.player-chunk {
	position: relative;
	margin: 0 auto;
	max-width: 350px;
	display: none;
}

.player-chunk-overlay {
	position: absolute;
}

.player-chunk img {
	width: 100%;
}
.player {
	width: 350px;
	margin: 0 auto;
	
}
.player-content-wrapper {
	position: relative;
}
.player-chunk-active {
	display: block;
}
.player-chunk-switcher {
	position: absolute;
	/*background-color: darkred;*/
	height: 100%;
	width: 30%;
}
.player-chunk-prev {
	top: 0;
	left: 0;
	opacity: 30%;
	
}
.player-chunk-next {
	top: 0;
	right: 0;
	opacity: 20%;
}